In [1]:
import pandas as pd
chks=pd.read_csv('fer2013.csv',chunksize=1000)
chlist=[]
for chk in chks:
    chlist.append(chk)
df=pd.concat(chlist,axis=0)
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [4]:
import numpy as np
def str_to_image(row):
    return np.array([int(i) for i in row.split(' ')],dtype=np.uint8).reshape(48,48,1)

In [5]:
pd.DataFrame(df['pixels'].apply(lambda x : str_to_image(x))).to_pickle('images.pkl')
pd.DataFrame(df['emotion']).to_pickle('emotions.pkl')